In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw_data = pd.read_csv('dataset.csv',index_col=0)

In [55]:
raw_data.shape

(22500, 24)

In [56]:
list(raw_data.columns)

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default payment next month']

__if pay_0 represents how many months late they are and we also have bill statements and payments why cant we just overwrite these columns to fix it? Isn't it values whcih we can derive from our dataset?__

In [14]:
raw_data['april_m_behind'] = 0

In [35]:
raw_data['may_m_behind'] = np.where(raw_data['PAY_AMT5'] + raw_data['PAY_AMT6'] >= raw_data['BILL_AMT6'],0,1)

In [36]:
raw_data['june_m_behind'] = np.where(raw_data['PAY_AMT4'] >= raw_data['BILL_AMT5'],0,raw_data['may_m_behind']+1)

In [37]:
raw_data['july_m_behind'] = np.where(raw_data['PAY_AMT3'] >= raw_data['BILL_AMT4'],0,raw_data['june_m_behind']+1)

In [38]:
raw_data['august_m_behind'] = np.where(raw_data['PAY_AMT2'] >= raw_data['BILL_AMT3'],0,raw_data['july_m_behind']+1)

In [39]:
raw_data['sep_m_behind'] = np.where(raw_data['PAY_AMT1'] >= raw_data['BILL_AMT2'],0,raw_data['august_m_behind']+1)

In [40]:
raw_data['sep_m_behind'].value_counts()

5    11811
0     7512
4      997
1      990
2      627
3      563
Name: sep_m_behind, dtype: int64

In [62]:
raw_data[(raw_data['PAY_0']==-2)&
         (raw_data['PAY_2']==-2)&
         (raw_data['PAY_3']==-2)&
         (raw_data['PAY_4']==-2)&
         (raw_data['PAY_5']==-2)&
         (raw_data['PAY_6']==-2)]['default payment next month'].count()

1547

In [63]:
207/1547

0.13380736910148675

In [3]:
raw_data['Paid_6_months'] = raw_data['PAY_AMT1'] + raw_data['PAY_AMT2'] + raw_data['PAY_AMT3'] +raw_data['PAY_AMT4'] +raw_data['PAY_AMT5'] +raw_data['PAY_AMT6']

In [4]:
raw_data['spent_6_months'] = (raw_data['Paid_6_months'] + raw_data['BILL_AMT1']) - raw_data['BILL_AMT6']

In [5]:
raw_data[raw_data['spent_6_months'] > raw_data['Paid_6_months']]['default payment next month'].value_counts(normalize=True)

0    0.81614
1    0.18386
Name: default payment next month, dtype: float64

In [11]:
raw_data[['Paid_6_months']].mean()

Paid_6_months    31643.2248
dtype: float64

### We have an issue with class imbalance

In [7]:
raw_data['default payment next month'].value_counts(normalize=True)

0    0.7788
1    0.2212
Name: default payment next month, dtype: float64